<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="../css/form.css"> 
</head>
<body ng-controller="formInscriptionController">
   <section>
    <div class="wrapper">
        <h1>M'inscrire</h1>
        <p id="error-message">Remplissez tous les champs</p>
            <form id="form" ng-submit="submitForm()">
             <div class="incorrect">
               <label for="user-input">Nom d'utilisateur</label>
               <input type="text" id="utilisateur" ng-model="users.user">
             </div>
             <div>
               <label for="email-input">Email</label>
               <input type="text" id="email" ng-model="users.mail">
             </div>
             <div>
               <label for="password-input">Password</label>
               <input type="password" id="password" ng-model="users.password">
             </div>
             <div>
               <label for="password-input">Password</label>
               <input type="password" id="password" ng-model="users.password">
             </div> 
             <button type="submit">Se connecter</button>       
            </form>
           
         </div> 
         <div class="test">
            <p>Vous avez déjà un compte ?</p> 
            <a href ="../Page/login.html">Me connecter</a>
         </div>
      </section>
</body>
</html>